/* * -> configura las propiedades de los estilos generales
* a todos los elementos 
*/
* {
    margin: 0px;
    padding: 0px;
}

header, section, footer, aside, nav, figure, figcaption, hgroup {
    display: block;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

/* id agrupar */
#agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

 /* id cabecera */
#cabecera {
    background-color: #56b4f3;
    border: 1px solid #000;
    padding: 20px;
}

#cabecera > h1 {
    background-color: #56b4f3;
}

#menu {
    background-color: #CCCC;
    padding: 5px 15px;
}

/* Otra manera de enunciar '#menu > ul > li' es '#menu li', 
* en donde busca la ubicación de li
*/
#menu li {
    display: inline-block;
    list-style: none;
    padding: 6px;
    margin: 10px;
    border: 1px solid #000;
}

#seccion {
    float: left;
    width: 660px;
    margin: 20px;
}

#columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background-color: #CCCC;
}

#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px dashed #000;
}

img {
    width: 620px;
}

article {
    background-color: rgb(144, 154, 156);
    border: 2px dashed #000;
    padding: 20px;
    margin-bottom: 15px;
}

article footer {
    text-align: left;
}

figcaption {
    font-size: 15px;
    color: #FFF;
}




